//
// BUTTONS
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin buttons($outline: false, $outline-invert: false, $invert: false) {
  font-family: $jet-brains;
  font-weight: $weight-medium;
  font-size: 1.125rem;

  padding: 0.5rem 1.35rem 0.65rem;
  margin: 0rem -0.35rem;

  color: rgb-var(bg);
  background-color: rgb-var(text);
  border-color: rgb-var(text);
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 0.875rem;

  transition: transition($color: true, $translate: true);

  @if $outline {
    color: rgb-var(text);
    background-color: rgb-var(bg);
    border-color: rgb-var(accent);
  }

  @if $invert {
    color: rgb-var(text);
    background-color: rgb-var(bg);
    border-color: rgb-var(bg);
  }

  @if $outline-invert {
    color: rgb-var(bg);
    background-color: rgb-var(text);
    border-color: rgb-var(accent);
  }

  &:hover {
    background-color: rgb-var(accent);
    border-color: rgb-var(accent);
    color: rgb-var(bg);
  }

  &:active {
    background-color: rgb-var(accent);
    border-color: rgb-var(accent);
    translate: -1px -2px;
    filter: brightness(0.9) saturate(1.25);
  }
}
