//
// BUTTONS
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin buttons($outline: false, $outline-invert: false, $invert: false) {
  font-family: $jet-brains;
  font-weight: $weight-medium;
  font-size: 1.25rem;

  padding: 0.75rem 1.35rem 0.85rem;
  margin: 0rem -0.35rem;

  color: var(--bg);
  background-color: var(--text);
  border-color: var(--text);
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 2rem;

  @if $outline {
    color: var(--text);
    background-color: var(--bg);
    border-color: var(--accent);
  }

  @if $invert {
    color: var(--text);
    background-color: var(--bg);
    border-color: var(--bg);
  }

  @if $outline-invert {
    color: var(--bg);
    background-color: var(--text);
    border-color: var(--accent);
  }

  transition: color 200ms ease-in-out, background-color 200ms ease-in-out,
    border 200ms ease-in-out, translate 100ms ease-out, filter 100ms ease-out;

  &:hover {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--bg);
  }

  &:active {
    background: var(--text);
    border-color: var(--text);
    translate: -1px -2px;
    filter: brightness(0.9) saturate(1.25);
  }
}
