// containers
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.nav-placement-wrap {
  pointer-events: none;
  z-index: 9999;
  position: fixed;
  top: 0rem;
  right: 0rem;

  display: flex;
  place-content: end;

  width: 100%;
  max-height: 100%;
  padding: 0.5rem;

  @include breakpoint(md) {
    padding: 1rem;
  }
}

.nav-container {
  pointer-events: auto;
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1rem;
  column-gap: 0.375rem;

  width: 100%;
  max-width: 400px;

  padding: 1rem;
  border: $border-width solid rgb-var(blk);
  border-radius: calc($border-rad + 2px);
  background: rgb-var(accent);

  transform-origin: right top;
  transition: transition($color: true, $timing: '225ms', $ease: 'ease-out');
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// TOGGLES
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin toggle-base() {
  @extend .button-outline;
  color: rgb-var(blk) !important;
  background-color: rgb-var(accent) !important;
  border: $border-width solid rgb-var(blk) !important;
  padding: 0.675rem 1rem !important;
  box-shadow: none !important;
  &:hover {
    box-shadow: $button-shadow rgb-var(blk) !important;
    border-radius: $border-rad !important;
  }
}

// toggle theme
//-----------------------------------------------------------
.theme-toggle {
  @include toggle-base();
  justify-self: start;
  margin-left: 0rem !important;
  //border-radius: $border-rad 0rem 0rem $border-rad !important;
}

.nav-toggle {
  @include toggle-base();
  justify-self: end;
  //border-radius: 0rem $border-rad $border-rad 0rem !important;
  z-index: 10;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// LINKS
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.nav-link-container {
  grid-column: span 2;
  overflow-y: hidden;

  display: grid;
  row-gap: 0.75rem;
  justify-items: center;

  height: 100%;
  max-width: 100%;
  padding: 6px;
  padding-bottom: 0.5rem;
}

// link buttons
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.nav-link {
  // BG color is controlled in Nav.js
  @extend .button-outline;
  text-align: center;
  width: 98%;
  padding: 1.5rem 0rem !important;
  border: $border-width solid rgb-var(blk) !important;
  box-shadow: $button-shadow rgb-var(blk) !important;
  opacity: 1;
  transform-origin: center;
  &:hover {
    color: rgb-var(text) !important;
    background-color: rgb-var(bg, 50) !important;
    translate: -2px -2px !important;
  }
  &.active {
    @extend .button;
    width: 100%;
    padding: 3rem 0rem !important;
    background-color: rgb-var(text) !important;
    border: $border-width solid rgb-var(blk) !important;
    &:hover {
      color: rgb-var(bg) !important;
      background-color: rgb-var(text, 75) !important;
      border: $border-width solid rgb-var(blk) !important;
    }
  }
}
