// containers
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.nav-wrapper {
  z-index: 9900;
  position: fixed;
  top: 1rem;
  right: 1rem;

  display: flex;
  flex-flow: column nowrap;

  max-width: 100%;
  max-height: 100%;
  padding: 0rem;

  transform-origin: right top;
  translate: 0% 0%;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// TOGGLES
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.nav-control-bar {
  z-index: 9999;
  display: grid;
  grid-template-columns: auto auto;

  background-color: rgb-var(accent);

  padding: 0rem 0rem;
  border-radius: $border-rad-lg;
}

@mixin toggle-base() {
  font-family: $jet-brains;
  border: none;
  transition: filter #{$timing-primary} ease-in-out;

  &:hover {
    filter: brightness(0.9) saturate(1.75);
  }
  &:active {
    filter: brightness(0.8) saturate(1.5);
  }
}

// toggle theme
//---------------------------------------------------------------------
.theme-toggle {
  @include toggle-base();
  justify-self: start;
  font-size: 1.25rem;
  color: rgb-var(bg);
  background-color: rgb-var(text);
  border-radius: $border-rad 0rem 0rem $border-rad;
  padding: 1rem 1.25rem 1.125rem;
}

.nav-toggle {
  @include toggle-base();
  justify-self: end;
  font-size: 1.5rem;
  border-radius: 0rem $border-rad $border-rad 0rem;
  padding: 0.745rem 1.255rem 0.855rem 1.245rem;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// COLOR SET
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.color-set-toggles-mask {
  z-index: 9990;
  overflow: hidden;

  height: 0;
  width: 0;

  transform-origin: center top;
  translate: 0 -100%;
}

.color-set-toggles-bar {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.35rem;

  background-color: rgb-var(accent);
  padding: 0.5rem 0.75rem 0.75rem;
  transform-origin: center top;
}

.color-set-toggle {
  padding: 1rem;
  flex: 1 1 calc(100% / 7);
  aspect-ratio: 1 / 1;

  border-radius: $border-rad-lg;
  border-width: $border-width-lg;
  border-style: solid;
  //margin: 0.35rem 0.25rem;
  box-shadow: inset 0px 0px rgba(black, 0); //inset 1px 0px rgba(black, 0.25), inset -1px 3px rgba(black, 0.2), inset 0px 7px rgba(black, 0.15);

  transition: filter #{$timing-primary} ease-out;

  transform-origin: center;
  scale: 0;

  &:hover {
    filter: brightness(0.8) saturate(1.25);
  }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// LINKS
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// link wrapper
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.nav-link-mask {
  z-index: 9001;
  overflow: hidden;
  height: 0px;

  transform-origin: center top;
  translate: 0 -75%;
  scale: 0.9;
}

.nav-link-container {
  display: grid;
  row-gap: 0.75rem;
  align-items: center;

  max-width: 100%;

  background-color: rgb-var(text);
  border-radius: 0rem 0rem $border-rad-lg $border-rad-lg;
}

// link buttons
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.nav-link {
  font-size: 1.35rem;
  font-family: $jet-brains;
  font-weight: $weight-light;
  text-align: center;
  text-decoration: none;

  padding: 2rem 0rem;
  border-radius: $border-rad;

  transition: padding #{$timing-primary} ease-out,
    letter-spacing #{$timing-primary} ease-in-out;

  transform-origin: center;
  translate: 0 -650%;
  scale: 0.9;

  &:hover {
    -webkit-text-stroke: 1px;
    letter-spacing: 0.075rem;
  }
  &.active {
    font-weight: $weight-black;
    padding: 3rem 0rem;
    background-color: rgb-var(accent);

    &:hover {
      -webkit-text-stroke: 0px;

      letter-spacing: 0.1rem;
    }
  }
}
