@mixin sidebar() {
  .sidebar-container {
    display: grid;

    grid-template-columns: minmax(12rem, 20rem) 1fr;
    width: 100vw;
    height: calc(100vh - 6rem);
  }
  .sidebar {
    position: sticky;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem auto;
    row-gap: 1rem;
    place-content: center;

    padding: 3rem 1.5rem 3rem 1.5rem;
    height: 100vh;
    background-color: rgb-var($color: accent, $opacity: 50);

    @include breakpoint(md) {
    }
  }
  .sidebar-item {
    @extend .button-outline;
    border-radius: 0.75rem;
    border: 2px solid rgb-var(accent);
    margin: 0;

    &.active {
      background-color: rgb-var(text);
      color: rgb-var(bg);
    }
  }

  .page-content {
    display: flex;
    place-content: center;
    place-items: center;
    padding: var(--container-padding);
  }
}
