@mixin sidebar() {
  // holds sidebar & related content container
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .sidebar-container {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;

    @include breakpoint(md) {
      grid-template-columns: 18rem 1fr;
    }
  }

  // invisible, holds sidebar content
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .sidebar {
    display: flex;
    flex-flow: column;
    place-content: center;

    width: 100%;
    padding: 6rem 3rem 3rem;

    @include breakpoint(md) {
      position: sticky;
      top: 0;
      padding: 0rem 0rem 4rem 2rem;
      height: 100vh;
      padding-top: 1rem;
    }
  }

  // links, etc
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .sidebar-content {
    position: sticky;
    z-index: 8000;
    display: flex;
    flex-flow: column;

    padding: 1.5rem 1.25rem;
    border-radius: 1rem;
    border: 1px solid cssvar-get(text-dk);

    background-color: cssvar-get(bg-dk);

    transform-origin: left center;
    transition: scale 350ms ease-out;
    &:hover {
      scale: 1.05;
    }

    > a {
      @extend p;
      font-size: 1.15rem;
      font-weight: $weight-light;
      color: cssvar-get(text-lt);

      padding: 0.5rem 1.25rem;
      border-radius: 0.6rem;
      border: 1px solid cssvar-get(text-dk);

      background-color: cssvar-get(bg-lt);

      &:hover {
        color: cssvar-get(bg-lt);
        background-color: cssvar-get(text-dk);
      }
    }
  }
}
