//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
//
// PROJECTS PAGE
//
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// back to work button
//---------------------------------------------------------------------
.projects-return {
  z-index: 9000;
  position: fixed;
  font-size: 1.5rem !important;
  top: clamp(1rem, 0.2rem + 1vw, 1.5rem);
  left: clamp(1.25rem, 0.45rem + 1vw, 1.75rem);

  padding: 0.65rem 1.3rem 0.75rem 1.25rem !important;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
  grid-template-rows: repeat(auto-fit, auto);
  gap: var(--item-gap);
  place-content: $place-center;

  min-height: 100vh;
  padding: var(--container-padding);
}

// page image background
//---------------------------------------------------------------------
.project-cover-bg {
  pointer-events: none;
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  background-size: cover;

  transition: opacity #{$timing-std} ease-in-out;
}

// project card
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin project-card() {
  .project-card {
    position: relative;

    display: grid;
    grid-template-rows: 0.25fr 1fr 0.5fr;
    row-gap: 2rem;

    padding: 1.75rem 2rem 1.75rem;
    border-radius: 1.25rem;
    border: 2px solid rgb-var(accent);
    background-color: rgb-var(bg);

    transition: transition($color: true, $spacer: true, $scale: true);

    @include breakpoint(md) {
      padding: 2.5rem 3rem 2.5rem;
      border-radius: 1.125rem;
    }

    &:hover {
      scale: 1.05 !important;
    }

    .title {
      align-self: center;
    }

    .caption {
      align-self: center;
      padding: 0rem;
    }
  }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
//
// PROJECT PAGES
//
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// image gallery
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.gallery {
  display: grid;
  grid-template-columns: [left-button] 40px [slide] 1fr [right-button] 40px;
  grid-auto-rows: max-content;

  gap: 0;
  flex-flow: row nowrap;

  place-content: space-between;
  place-items: center;
}

.gallery-button {
  z-index: 8000;
  padding: 0.5rem 1rem 0.6rem !important;
  border-radius: 0.875rem !important;
}

.slide {
  display: none;
  grid-column: slide;
  grid-row: 1;

  width: 100%;

  &.active {
    display: block;
  }
  > img {
    height: 100%;
    width: 100%;
  }
}
