//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
//
// AUTO backgrounds
//
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// text contrast
//---------------------------------------------------------------------
@mixin contrast-dk($invert: false) {
  color: var(--text);
  background-color: var(--bg);

  @if $invert {
    color: var(--bg);
    background-color: var(--text);
  }
}

.bg {
  @include contrast-dk();
  @include transition-base();

  .plink {
    @extend p;
    @include p-link();
  }
  .notelink {
    @extend .note;
    @include p-link();
  }

  // badges
  //---------------------------------------------------------------------
  .badge {
    @include badge-base();
    &-outline {
      @include badge-base($outline: true);
    }
  }

  // buttons
  //---------------------------------------------------------------------
  .button {
    @include buttons();
    @include contrast-dk($invert: true);
    &-outline {
      @include buttons($outline: true);
      @include contrast-dk();
    }
  }

  // col outline
  //---------------------------------------------------------------------
  .outline {
    @include column-outline();

    &.invert {
      @include column-outline($invert: true);

      & a,
      .badge-outline,
      .button-outline {
        @include contrast-dk($invert: true);
      }

      & .badge,
      .button {
        @include contrast-dk();
      }
    }

    &.invert-alt {
      @extend .invert;
      @include column-outline($alt: true);
    }
  }

  // work page project cards
  //---------------------------------------------------------------------
  @include work-card();

  // sidebar
  //---------------------------------------------------------------------
  @include sidebar();
}
