//
// COLORS
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// current
//---------------------------------------------------------------------

// primaries
//---------------------------------------------------------------------
$yellow-lt: #fbea99;
$yellow-accent: #ffc908;
$yellow-dk: #996600;
$yellow-blk: #4d3300; //color.scale(#996600, $lightness: -50%, $saturation: 100%);

$green-lt: #c9f0c2;
$green-accent: #57da4c;
$green-dk: #006611;
$green-blk: #003309; //color.scale(#006611, $lightness: -50%, $saturation: 100%);

$blue-lt: #cde6fe;
$blue-accent: #579dff;
$blue-dk: #0b4bcb;
$blue-blk: #001d56; //color.scale(#0b4bcb, $lightness: -60%, $saturation: 100%);

$pink-lt: #f6cdfe;
$pink-accent: #ff6ece;
$pink-dk: #aa09aa;
$pink-blk: #5a005a; //color.scale($pink-dk, $lightness: -50%, $saturation: 100%);

$red-lt: #fed1cd;
$red-accent: #ff6464;
$red-dk: #990d00;
$red-blk: #4d0700; //color.scale(#990d00, $lightness: -50%, $saturation: 100%);

$grey-lt: #dde0e3;
$grey-accent: #9da3af;
$grey-dk: #2b2e3b;
$grey-blk: #12131a; //color.scale(#2b2e3b, $lightness: -50%, $saturation: 100%);

$mono-lt: #f5f5f5;
$mono-accent: #808080;
$mono-dk: #333333;
$mono-blk: #000000; //color.scale(#000000, $lightness: -50%, $saturation: 100%);

//
// SET CSS VARIABLES
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@include cssvar-set(
  (
    text: '',
    bg: '',
    accent: '',
    yellow-accent: #{$yellow-accent},
    green-accent: #{$green-accent},
    blue-accent: #{$blue-accent},
    pink-accent: #{$pink-accent},
    red-accent: #{$red-accent},
    grey-accent: #{$grey-accent},
    mono-accent: #{$mono-accent},
  )
);

.light-theme {
  --text-yellow: #{$yellow-dk};
  --text-green: #{$green-dk};
  --text-blue: #{$blue-dk};
  --text-pink: #{$pink-dk};
  --text-red: #{$red-dk};
  --text-grey: #{$grey-dk};
  --text-mono: #{$mono-dk};

  --bg-yellow: #{$yellow-lt};
  --bg-green: #{$green-lt};
  --bg-blue: #{$blue-lt};
  --bg-pink: #{$pink-lt};
  --bg-red: #{$red-lt};
  --bg-grey: #{$grey-lt};
  --bg-mono: #{$mono-lt};
}

.dark-theme {
  --text-yellow: #{$yellow-lt};
  --text-green: #{$green-lt};
  --text-blue: #{$blue-lt};
  --text-pink: #{$pink-lt};
  --text-red: #{$red-lt};
  --text-grey: #{$grey-lt};
  --text-mono: #{$mono-lt};

  --bg-yellow: #{$yellow-dk};
  --bg-green: #{$green-dk};
  --bg-blue: #{$blue-dk};
  --bg-pink: #{$pink-dk};
  --bg-red: #{$red-dk};
  --bg-grey: #{$grey-dk};
  --bg-mono: #{$mono-dk};
}

// COLOR SUFFIX
//---------------------------------------------------------------------
$color-values: ('lt', 'dk');

// COLOR NAMES
//---------------------------------------------------------------------
$color-hues: ('yellow', 'green', 'blue', 'pink', 'red', 'grey', 'mono');

// SCSS COLOR VALUES MAP
//---------------------------------------------------------------------
// $color-primary: (
//   yellow-lt: $yellow-lt,
//   yellow-lt-alt: $yellow-lt-alt,
//   yellow-dk: $yellow-dk,
//   yellow-dk-alt: $yellow-dk-alt,

//   green-lt: $green-lt,
//   green-lt-alt: $green-lt-alt,
//   green-dk: $green-dk,
//   green-dk-alt: $green-dk-alt,

//   blue-lt: $blue-lt,
//   blue-lt-alt: $blue-lt-alt,
//   blue-dk: $blue-dk,
//   blue-dk-alt: $blue-dk-alt,

//   pink-lt: $pink-lt,
//   pink-lt-alt: $pink-lt-alt,
//   pink-dk: $pink-dk,
//   pink-dk-alt: $pink-dk-alt,

//   red-lt: $red-lt,
//   red-lt-alt: $red-lt-alt,
//   red-dk: $red-dk,
//   red-dk-alt: $red-dk-alt,

//   grey-lt: $grey-lt,
//   grey-lt-alt: $grey-lt-alt,
//   grey-dk: $grey-dk,
//   grey-dk-alt: $grey-dk-alt,

//   mono-lt: $mono-lt,
//   mono-lt-alt: $mono-lt-alt,
//   mono-dk: $mono-dk,
//   mono-dk-alt: $mono-dk-alt,
// );
