// DETECT CONTRAST
//---------------------------------------------------------------------
/* https://codepen.io/kennyglenn/pen/kxqWjP */
@function contrast-color($color) {
  @return if(lightness($color) < 60%, $wht, $gry-drk);
}
// DEEP GET
//---------------------------------------------------------------------
/* https://css-tricks.com/snippets/sass/deep-getset-maps/ */
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// STRING REPLACE
//---------------------------------------------------------------------
/* https://css-tricks.com/snippets/sass/str-replace-function/ */
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// USE CSS VARIABLE - RGBA
//---------------------------------------------------------------------
@function rgb-var($name, $val: 100) {
  @return rgba(var(--#{$name}), (#{$val + '%'}));
}

// transitions
//---------------------------------------------------------------------
@function transition(
  $color: false,
  $spacer: false,
  $size: false,
  $gap: false,
  $scale: false,
  $translate: false,
  $shadow: false,
  $timing: '250ms',
  $ease: 'ease-in-out'
) {
  @if ($color) {
    $color: 'color 50ms #{$ease}, background-color #{$timing} #{$ease}, border #{$timing} #{$ease}, border-color #{$timing} #{$ease}';
  }
  @if ($spacer) {
    $spacer: 'margin #{$timing} #{$ease}, padding #{$timing} #{$ease}';
  }
  @if ($size) {
    $size: 'height #{$timing} #{$ease}, width #{$timing} #{$ease}';
  }
  @if ($gap) {
    $gap: 'gap #{$timing} #{$ease}';
  }
  @if ($scale) {
    $scale: 'scale #{$timing} #{$ease}';
  }
  @if ($translate) {
    $translate: 'translate #{$timing} #{$ease}';
  }
  @if ($shadow) {
    $shadow: 'box-shadow #{$timing} #{$ease}';
  }

  @return #{$color + ', ' + $spacer + ', ' + $size + ', ' + $gap + ', ' + $scale + ', ' +
    $translate + ', ' + $shadow};
}
