// DETECT CONTRAST
//-----------------------------------------------------------
/* https://codepen.io/kennyglenn/pen/kxqWjP */
@function contrast-color($color) {
  @return if(lightness($color) < 60%, $wht, $gry-drk);
}
// DEEP GET
//-----------------------------------------------------------
/* https://css-tricks.com/snippets/sass/deep-getset-maps/ */
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// STRING REPLACE
//-----------------------------------------------------------
/* https://css-tricks.com/snippets/sass/str-replace-function/ */
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// use css variable - RGBA
//------------------------------------------------------------------------------------
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@function rgb-var($color, $opacity: 100) {
  @return rgba(var(--#{$color}), (#{$opacity + '%'}));
}

// set clamp scaling
//------------------------------------------------------------------------------------
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@function clamp-scale($minSizePx, $maxSizePx) {
  $minSize: calc($minSizePx / 16);
  $maxSize: calc($maxSizePx / 16);
  $minWidthRem: calc(map-get($page-breakpoints, xs) / 16);
  $maxWidthRem: calc(map-get($page-breakpoints, lg) / 16);
  $slope: calc(($maxSize - $minSize) / ($maxWidthRem - $minWidthRem));
  $yAxis: calc((-1 * $minWidthRem) * $slope + $minSize);
  $prefValue: $yAxis + 'rem + ' + ($slope * 100) + 'vw';

  //@return $slope;
  @return clamp(#{$minSize + 'rem'}, #{$prefValue}, #{$maxSize + 'rem'});
}

// transitions
//-----------------------------------------------------------
@function transition(
  $color: false,
  $spacer: false,
  $border: false,
  $size: false,
  $gap: false,
  $scale: false,
  $translate: false,
  $shadow: false,
  $timing: $timing,
  $ease: 'ease-in-out',
  $ease-in: 'ease-in',
  $ease-out: 'ease-out'
) {
  @if ($color) {
    $color: 'color 50ms #{$ease}, background-color #{$timing} #{$ease}, border #{$timing} #{$ease}, border-color #{$timing} #{$ease}, box-shadow #{$timing} #{$ease}';
  }
  @if ($spacer) {
    $spacer: 'margin #{$timing} #{$ease}, padding #{$timing} #{$ease}';
  }
  @if ($border) {
    $border: 'border-radius #{$timing} #{$ease}';
  }
  @if ($size) {
    $size: 'height #{$timing} #{$ease-in}, min-height #{$timing} #{$ease-in}, max-height #{$timing} #{$ease-in}, width #{$timing} #{$ease-in}, min-width #{$timing} #{$ease-in}, max-width #{$timing} #{$ease-in}';
  }
  @if ($gap) {
    $gap: 'gap #{$timing} #{$ease}';
  }
  @if ($scale) {
    $scale: 'scale #{$timing} #{$ease}';
  }
  @if ($translate) {
    $translate: 'translate #{$timing} #{$ease}';
  }
  @if ($shadow) {
    $shadow: 'box-shadow #{$timing} #{$ease}';
  }

  @return #{$color + ', ' + $spacer + ', ' + $size + ', ' + $gap + ', ' + $scale + ', ' +
    $translate + ', ' + $shadow};
}
