//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
//
// LAYOUT MIXINS
//
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin flex-base() {
  display: flex;
  flex: 1 1 100%;
  transition: transition($spacer: true);
}

// area types
//---------------------------------------------------------------------
@mixin row() {
  flex-flow: row wrap;
  gap: var(--object-gap);
  place-content: $place-center;
  place-items: $place-center;
}

@mixin col() {
  flex-flow: column wrap;
  gap: var(--item-gap);
  place-content: $place-start;
  place-items: $place-start;
  > img,
  > video {
    width: 100%;
    max-width: 100%;
  }
}

// fill types
//---------------------------------------------------------------------
@mixin width-fixed($i) {
  @include breakpoint(sm) {
    max-width: calc(var(--current-columns) * 100px);
    flex: 0 1 calc(($i * 100px) - (var(--object-gap) / 2));
  }
}

@mixin width-fill($i) {
  @include breakpoint(md) {
    flex: 0 1 calc(($i * 10%));
  }
}

// CARD column
//---------------------------------------------------------------------
@mixin column-outline($invert: false, $alt: false) {
  place-self: center;
  place-content: center;
  padding: clamp(2rem, calc(1.125 * 5vw), 2.5rem) clamp(1rem, calc(1.1 * 5vw), 3rem)
    clamp(2.125rem, calc(1.1 * 5vw), 2.625rem);
  border-radius: $border-rad-lg;
  background-color: rgb-var(bg);
  border: $border-width solid rgb-var(accent);
  transition: transition($color: true, $size: true, $spacer: true);

  @if $invert {
    color: rgb-var(bg);
    background-color: rgb-var(text);
    border: $border-width solid rgb-var($color: text, $opacity: 100);
  }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
//
// LAYOUT CLASSES
//
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// container
//---------------------------------------------------------------------
.container {
  @include flex-base();
  @include row;

  max-width: calc(var(--max-columns) * 100px);

  margin: 0 auto;
  padding: var(--container-padding); //clamp(2rem, calc(2 * 5vw), 10rem) 1rem;
  &.full {
    max-width: 100vw;
    margin: 0;
    padding: 0;
  }
}

.col-f {
  @include flex-base();
  @include col();
  flex: 1 1 auto;
}

.row-f {
  @include flex-base();
  @include row();
  flex: 1 1 auto;
}

@for $i from 1 through $max-columns {
  // fixed
  //---------------------------------------------------------------------
  .row-#{$i} {
    @include flex-base();
    @include row();
    @include width-fixed($i);
  }
  .col-#{$i} {
    @include flex-base();
    @include col();
    @include width-fixed($i);
  }
}
@for $i from 1 through 10 {
  // fills
  //---------------------------------------------------------------------
  .row-f#{$i} {
    @include flex-base();
    @include row();
    @include width-fill($i);
  }
  .col-f#{$i} {
    @include flex-base();
    @include col();
    @include width-fill($i);
  }
}
