a {
  color: inherit;
  text-decoration: none;
}

// P LINK STYLE MIXIN
//---------------------------------------------------------------------
@mixin p-link($invert: false) {
  letter-spacing: -0.0625rem;
  //font-style: italic;
  font-weight: $weight-light;
  text-decoration: none;

  padding: 0rem 0.2rem 0rem 0.1rem;
  margin: 0rem -0.1rem 0rem -0.1rem;

  border-radius: 0;
  filter: saturate(1.5);

  box-shadow:
    // underline
    inset 0 -0.125rem 0 0 rgb-var(accent, 65),
    //rgba(var(--accent-rgb), 50%),
    // left shading
    inset 0rem 0rem 0 0 rgb-var(accent, 0),
    inset 0rem 0rem 0 0 rgb-var(accent, 0), inset 0rem 0rem 0 0 rgb-var(accent, 0),
    inset 0rem 0rem 0 0 rgb-var(accent, 0),
    // drop shadow
    0 0 1rem 0 rgb-var(accent, 0);

  transition: box-shadow 200ms ease-out;

  // link hover
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  &:hover {
    opacity: 100%;
    padding: 0rem 0.5rem 0rem 0.4rem;
    margin: 0rem -0.4rem 0rem -0.4rem;

    border-radius: 0.35rem;

    box-shadow:
      // underline
      inset 0 -0.095rem 0 0 rgb-var(accent, 0),
      // left shading
      inset 5rem -1rem 1rem 0 rgb-var(accent, 20),
      inset 10rem -1.5rem 1rem 0 rgb-var(accent, 40),
      inset 15rem -2rem 1rem 0 rgb-var(accent, 60),
      inset 20rem -2.5rem 1rem 0 rgb-var(accent, 80),
      // drop shadow
      0 0 0.15rem 0 rgb-var(accent, 0);

    transition: all 250ms ease-in-out;
  }

  // link active
  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  &:active {
    opacity: 100%;
    padding: 0rem 0.5rem 0rem 0.4rem;
    margin: 0rem -0.4rem 0rem -0.4rem;

    border-radius: 0.35rem;

    box-shadow:
      // underline
      inset 0 -0.095rem 0 0 rgb-var(accent, 0),
      // left shading
      inset 5rem -1rem 1rem 0 rgb-var(accent, 15),
      inset 10rem -1.5rem 1rem 0 rgb-var(accent, 15),
      inset 15rem -2rem 1rem 0 rgb-var(accent, 15),
      inset 20rem -2.5rem 1rem 0 rgb-var(accent, 15),
      // drop shadow
      0 0 0.15rem 0 rgb-var(accent, 0);

    transition: all 150ms ease-in-out;
  }
}
