/* no text highlight */
img,
video,
button,
button-outline,
p.badge,
p.badge-outline {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

// font families
//---------------------------------------------------------------------
$avara: 'avara';
$jet-brains: 'jetbrains mono';

// text styles list
//---------------------------------------------------------------------
$text-styles-list: h1, h2, h3, h4, h5, p, ol, ul, '.note';

@import './text-import';

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
//
// HEADING STYLES
//
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// setup map key selection
@function type-ratio($key) {
  @return map-get($type-ratios, $key);
}

// ratios map
$type-ratios: (
  minorSecond: 1.067,
  majorSecond: 1.125,
  minorThird: 1.2,
  majorThird: 1.25,
  perfectFourth: 1.333,
  augmentedFourth: 1.414,
  perfectFifth: 1.5,
  goldenRatio: 1.618,
);

$base-type-size: 1rem;

$type-size-ratio: type-ratio('goldenRatio');
$type-levels: 5, 4, 3, 2, 1;

// set font
$font-family: (
  1: $avara,
  2: $avara,
  3: $avara,
  4: $jet-brains,
);

// set weight
$font-weight: (
  1: $weight-black,
  2: $weight-bold,
  3: $weight-bold,
  4: $weight-bold,
);

$h1-max: 3rem;
$h2-max: 2.25rem;
$h3-max: 1.75rem;
$h4-max: 1.3125rem;
$h4-min: 1.25rem;

// set size
$font-size: (
  1: clamp($h2-max, calc(1.1 * 5vw), $h1-max),
  2: clamp($h3-max, calc(1.1 * 5vw), $h2-max),
  3: clamp($h4-max, calc(1.2 * 5vw), $h3-max),
  4: clamp($h4-min, calc(1.1 * 1vw), $h4-max),
);

@each $level in $type-levels {
  h#{$level} {
    font-family: map-get($font-family, $level);
    font-weight: map-get($font-weight, $level);
    font-size: map-get($font-size, $level);
    line-height: 130%;
    //margin-left: -0.0625rem;
    letter-spacing: 0.025rem;
    filter: saturate(2);
    transition: font-size 50ms ease-in-out;
  }
  h#{$level}::selection {
    background: rgb-var(accent, 50);
  }
}

h1 + p {
  margin-top: -1.5rem;
}
h2 + p {
  margin-top: -1.75rem;
}
h3 + p {
  margin-top: -1.875rem;
}
h4 + p {
  margin-top: -1.625rem;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
//
// non-heading styles
//
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// paragraph
//---------------------------------------------------------------------
p {
  font-size: 1.125rem;
  font-family: $jet-brains;
  font-weight: $weight-light;
  line-height: 160%;
  letter-spacing: -0.0375rem;

  padding: 0rem;
  margin: 0rem;
  + p {
    margin-top: -1.375rem;
  }
  + p.note {
    margin-top: -0.5rem;
  }
  &::selection {
    background: rgb-var(accent, 50);
  }
}
p.small {
  font-size: 1rem;
  line-height: 140%;
}

// note
//---------------------------------------------------------------------
.note {
  font-family: $jet-brains;
  font-style: italic;
  font-weight: $weight-x-light;
  font-size: 1.0625rem;

  margin-left: 0.125rem;
  letter-spacing: -0.05rem;
  opacity: 80%;

  filter: saturate(0.5);
}

// lists
//---------------------------------------------------------------------
ol,
ul {
  @extend p;
  font-size: clamp(1.25rem, 1.25rem + 1.5vw, 1.4rem);

  font-family: $jet-brains;
  font-weight: $weight-light;
  line-height: 165%;
  margin: 2rem 0rem 0rem;

  & li + li {
    margin-top: 0.85rem;
  }

  & + p {
    margin-top: 2rem;
  }
}

// ordered list markers
//---------------------------------------------------------------------
ol {
  margin-left: 1rem;

  & li + li {
    margin-top: 1.5rem;
  }

  // if activating numbers
  counter-reset: list-counter;

  & li {
    counter-increment: list-counter;
  }

  & li::marker {
    font-weight: bold;
  }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
//
// CUSTOM STYLES
//
//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// badge mixin
// intended for use with <p>
//---------------------------------------------------------------------
@mixin badge-base($outline: false, $invert: false, $outline-invert: false) {
  font-family: $jet-brains;
  line-height: 100%;
  font-size: 1.15rem;
  font-weight: 400;
  color: rgb-var(bg);

  max-width: max-content;
  max-height: max-content;

  margin: 0rem 0rem 0.5rem -0.5rem;
  padding: 7px 12px;

  background-color: rgb-var(text);
  border: $border-width solid rgb-var(text);
  border-radius: $border-rad-sm;

  transition: transition($color: true);

  @include firefox() {
    padding: 7px 13px 8px;
  }

  @if $outline {
    background-color: rgb-var(bg, 100);
    color: rgb-var(text);
    border: $border-width solid rgb-var(accent, 75);
  }
  @if $invert {
    background-color: rgb-var(bg);
    color: rgb-var(text);
    border: $border-width solid rgb-var(bg);
  }
  @if $outline-invert {
    background-color: rgb-var(text, 100);
    color: rgb-var(bg);
    border: $border-width solid rgb-var(accent, 75);
  }
}
