//
// DROP SHADOWS
//------------------------------------------------------------------------------------
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@for $i from 1 to 10 {
  .drop-shadow-#{$i} {
    filter: drop-shadow(-#{$i}rem #{$i}rem calc(0.4rem * $i) rgba(0, 0, 0, 0.35));
  }
}

//
// SHADOW MIXINS
//------------------------------------------------------------------------------------
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// small object shadow
//---------------------------------------
@mixin tight-shadow($shadow-base) {
  box-shadow: -0.2rem 0.3rem 0.5rem rgba($shadow-base, 0.15),
    0rem 0.2rem 0.25rem rgba($shadow-base, 0.3);
}

// card shadow
//---------------------------------------
@mixin base-shadow($shadow-base, $shadow-accent) {
  box-shadow: -0.2rem 0.3rem 0.5rem rgba($shadow-base, 0.3),
    0rem 0.2rem 0.25rem rgba($shadow-accent, 0.3);
}

@mixin base-shadow-hover($shadow-base, $shadow-accent) {
  box-shadow: -0.4rem 1rem 0.7rem rgba($shadow-base, 0.15),
    -0.2rem 0.4rem 0.5rem rgba($shadow-accent, 0.2);
}
