//
// DROP SHADOWS
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@for $i from 1 to 10 {
    .drop-shadow-#{$i} {
        filter: drop-shadow(-#{$i}rem #{$i}rem calc(.4rem * $i) rgba(0,0,0,.35));
    }
}

//
// SHADOW MIXINS
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// small object shadow
//---------------------------------------
@mixin tight-shadow($shadow-base){
    box-shadow: -.2rem .3rem .5rem rgba($shadow-base, .15),
                0rem .2rem .25rem rgba($shadow-base, .3);
}

// card shadow
//---------------------------------------
@mixin base-shadow($shadow-base, $shadow-accent ){
    box-shadow: -.2rem .3rem .5rem rgba($shadow-base, .3),
                0rem .2rem .25rem rgba($shadow-accent, .3);
}

@mixin base-shadow-hover($shadow-base, $shadow-accent ){
    box-shadow: -.4rem 1rem .7rem rgba($shadow-base, .15),
                -.2rem .4rem .5rem rgba($shadow-accent, .2);
}

